@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Domine&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0%;
    margin: 1%;
}

body {
    background-color: #EEF1F2;
    font-family: "Playfair Display", serif;
    font-weight: lighter;
}

header {
    background-color: var(--cor02);
    height: 140px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 20px 20px 0px 0;
}

@media(max-width: 1100px) {
    header img {
        height: 190px;
        width: 300px;
    }
}


h1 {
    color: #323692;
    background-color: var(--cor00);
    font-family: "Exo", sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

header img {
    height: 120px;
    width: 200px;
}

nav {
    background-color: var(--cor02);
    text-align: center;
    padding-bottom: 17px;
    margin-top: -25px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    width: 150px;
}

a:hover {
    background-color: var(--cor00);
    margin-left: 30px;
    transition: 1s;
    border-radius: 10px;
}

.link {
    margin-bottom: 6px;
    margin-top: -2px;
    width: 30px;
    height: 30px;
}

/*Serviços*/

@media(max-width: 1000px) {
    .container01 {
        display: flex;
        flex-direction: column;
    }
}


@media(min-width: 820px) {
    .container01 {
        display: flex;
        flex-direction: row;
    }
}

@media(min-width: 3500px) {
    .container02 {
        width: 100vh;
        display: flex;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }
}

.container02 {
    background-color: #FFFFFF;

}

.container01 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 15px 0px 15px 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.imagens {
    height: 200px;
    width: 350px;
    margin-left: 15px;
    margin-bottom: 10px;
    border: #0e0e0e solid 3px;

}

#antes{
    width: 400px;
}

@media(min-width: 890px){
   #antes {
        width: 590px;
    }
}


h2 {

    font-size: 25px;
    font-family: "Playfair Display", serif;
    font-weight: lighter;
    text-align: center;
    padding: 20px;
}




/*Inicio*/

.rodape {
    background-color: #f7c92c;
    color: #323692;
    font-family: "Exo", sans-serif;
    text-align: justify;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.rodape a {
    color: #ffffff;
    font-family: sans-serif;
    text-align: center;
}

#rodape-inicio-a {
    width: 150px;
    height: 20px;
    font-size: 24px;
    color: #fdfdfd;
   

}

#rodape-inicio-a:hover {
    text-decoration: underline;
    color: black;
    margin-left: 0px;
    transition: 0s;
    border-radius: 0%;

}

#rodape-inicio-a>img{
    width: 25px;
    height: 25px;
}

#rodape-inicio-footer {
    background-color: #f7c92c;
    color: #323692;
    font-family: "Exo", sans-serif;
    text-align: justify;
    padding: 15px;
    border-radius: 10px;
}

p {
    font-size: larger;
    font-weight: bolder;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;

}

main#inicio {
    background-color: #ffffff;
    width: 160vh;
    border-radius: 15px 0px 15px 0px;
}

@media(min-width: 820px) {
    main#inicio {
        columns: 3;
    }
}

ul {
    margin-left: 20px;
    columns: 1;
    font-size: larger;
    margin-top: 1px;
    margin-bottom: 15px;
}

p#titulo01 {
    margin-top: 20px;
}

#titulo {
    color: #323692;
    font-family: "Exo", sans-serif;
}

li {
    margin-top: 15px;

}

#num {
    width: 200px;
    background-color: #323692;
    margin-left: 0px;
    transition: 0px;
    border-radius: 20px;
}



#num:hover {
    text-decoration: underline;
    transition: 0.5s;
    font-size: 21px;
}

#num>img {
    width: 25px;
    height: 25px;

}



:root {
    --cor00: #f7c92c;
    --cor01: #e4d094;
    --cor02: #323692;
    --cor03: #75757e;
    --cor04: #a5a7d2;
    --cor05: black;
}